<!DOCTYPE html>
<html lang="en">

<!-- M-->

<head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script src="https://kit.fontawesome.com/fb7b9df17a.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/client.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

</head>


<body>
    <!-- Main header -->
    <nav>
        <header class="bg-color flex">
            <h1>Punjab Tadka</h1>
            <button id="nav-button">See Menu</button>
        </header>
        <div class="empty-space"></div>
    </nav>

    <!-- Hero Image -->
    <div class="hero-image">
        <div class="hero-text">
            <button type="button" class="see-menu" onclick=> See our menu!</button>

        </div>
    </div>

    <!-- Empty Space -->
    <div class="empty-space-two"></div>

    <!-- Menu items container -->
    <main>
      <section id="menu-items-container">

      </section>
    </main>

    <!-- Empty Space -->
    <div class="empty-space-three"></div>

    <!-- Order Cart -->
    <div class="container-three">
      <div id="users-cart">
      </div>

      <!-- section for the menu options in the cart -->
      <section class='order-cart'>
      </section>
      <!-- section for the total of the cart -->
      <section class='total-cart'>
      </section>
    </div>
  </div>

  <footer class="bg-color footer">
    <ul class="social">
      <small>Copyright &copy; 2020. All Rights Reserved.</small>
      <li class="social-foote">
        <i class="social-link fa fa-envelope" href="mailto:devachievem@gmail.com"></i>
      </li>
      <li>
        <i class="social-link fas fa-phone" href="tel:12368388913"></i>
      </li>
      <li>
        <i class="social-link fab fa-linkedin-in" href="https://www.linkedin.com/in/mathius-johnson/"
          target="_blank"></i>
      </li>
      <li>
        <i class="social-link fab fa-instagram" href="https://www.instagram.com/yogimathius/" target="_blank"></i>
      </li>
      <li>
        <i class="social-link mid-screen fab fa-twitter" href="https://twitter.com/yogimathius" target="_blank"></i>
      </li>
    </ul>
    <!-- </div> -->
  </footer>
</body>

</html>
