<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script src="https://kit.fontawesome.com/fb7b9df17a.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
</head>


<body>
    <nav>
        <header class="bg-color flex">
            <h1>Punjab Tadka</h1>
            <button>See Menu</button>
        </header>
        <div class="empty-space"></div>
    </nav>

    <!-- Hero Image -->
    <div class="hero-image">
        <div class="hero-text">
            <button type="button" class="see-menu"> See our menu!</button>
        </div>
    </div>


    <div id="container">
        <div id="sidenav" class="sticky">

            <div class="buttons">

                <a class="button" href="#"> Deals </a>
                <a class="button" href="#"> Salads</a>
                <a class="button" href="#"> Mains </a>
                <a class="button" href="#"> Sides </a>
                <a class="button" href="#"> Kid's Specials</a>
                <a class="button" href="#"> Desserts </a>
                <a class="button" href="#"> Drinks </a>

            </div>

        </div>
        <div class="empty-space-two"></div>
        <main>
            <article id="menu-items-container">
                <section class="menu-items">
                    <header class="name-of-item">
                        <span class="name">Dahl</span>
                    </header>
                    <main class="max-width">
                        <p class="tweeted-text break-long-words hover-blur">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </main>
                    <footer class="menu-item-footer">
                        <ul class="icons">
                            <li><a href=""><i class="fas fa-minus"></i></a></li>
                            <li><input type="number" required minlength=".5" maxlength="1" placeholder="00"></li>
                            <li><a href=""><i class="fas fa-plus"></i></i></a></li>
                            <li><button>Add to order</button>
                            </li>
                        </ul>
                    </footer>
                </section>
                <section class="menu-items">
                    <header class="name-of-item">
                        <span class="name">Dahl</span>
                    </header>
                    <main class="max-width">
                        <p class="tweeted-text break-long-words hover-blur">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </main>
                    <footer class="menu-item-footer">
                        <ul class="icons">
                            <li><a href=""><i class="fas fa-minus"></i></a></li>
                            <li><input type="number" required minlength=".5" maxlength="1" placeholder="00"></li>
                            <li><a href=""><i class="fas fa-plus"></i></i></a></li>
                            <li><button>Add to order</button>
                            </li>
                        </ul>
                    </footer>
                </section>
                <section class="menu-items">
                    <header class="name-of-item">
                        <span class="name">Dahl</span>
                    </header>
                    <main class="max-width">
                        <p class="tweeted-text break-long-words hover-blur">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </main>
                    <footer class="menu-item-footer">
                        <ul class="icons">
                            <li><a href=""><i class="fas fa-minus"></i></a></li>
                            <li><input type="number" required minlength=".5" maxlength="1" placeholder="00"></li>
                            <li><a href=""><i class="fas fa-plus"></i></i></a></li>
                            <li><button>Add to order</button>
                            </li>
                        </ul>
                    </footer>
                </section>
                <section class="menu-items">
                    <header class="name-of-item">
                        <span class="name">Dahl</span>
                    </header>
                    <main class="max-width">
                        <p class="tweeted-text break-long-words hover-blur">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </main>
                    <footer class="menu-item-footer">
                        <ul class="icons">
                            <li><a href=""><i class="fas fa-minus"></i></a></li>
                            <li><input type="number" required minlength=".5" maxlength="1" placeholder="00"></li>
                            <li><a href=""><i class="fas fa-plus"></i></i></a></li>
                            <li><button>Add to order</button>
                            </li>
                        </ul>
                    </footer>
                </section>
                <section class="menu-items">
                    <header class="name-of-item">
                        <span class="name">Dahl</span>
                    </header>
                    <main class="max-width">
                        <p class="tweeted-text break-long-words hover-blur">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </main>
                    <footer class="menu-item-footer">
                        <ul class="icons">
                            <li><a href=""><i class="fas fa-minus"></i></a></li>
                            <li><input type="number" required minlength=".5" maxlength="1" placeholder="00"></li>
                            <li><a href=""><i class="fas fa-plus"></i></i></a></li>
                            <li><button>Add to order</button>
                            </li>
                        </ul>
                    </footer>
                </section>
                <section class="menu-items">
                    <header class="name-of-item">
                        <span class="name">Dahl</span>
                    </header>
                    <main class="max-width">
                        <p class="tweeted-text break-long-words hover-blur">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </main>
                    <footer class="menu-item-footer">
                        <ul class="icons">
                            <li><a href=""><i class="fas fa-minus"></i></a></li>
                            <li><input type="number" required minlength=".5" maxlength="1" placeholder="00"></li>
                            <li><a href=""><i class="fas fa-plus"></i></i></a></li>
                            <li><button>Add to order</button>
                            </li>
                        </ul>
                    </footer>
                </section>
                <section class="menu-items">
                    <header class="name-of-item">
                        <span class="name">Dahl</span>
                    </header>
                    <main class="max-width">
                        <p class="tweeted-text break-long-words hover-blur">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </main>
                    <footer class="menu-item-footer">
                        <ul class="icons">
                            <li><a href=""><i class="fas fa-minus"></i></a></li>
                            <li><input type="number" required minlength=".5" maxlength="1" placeholder="00"></li>
                            <li><a href=""><i class="fas fa-plus"></i></i></a></li>
                            <li><button>Add to order</button>
                            </li>
                        </ul>
                    </footer>
                </section>
                <section class="menu-items">
                    <header class="name-of-item">
                        <span class="name">Dahl</span>
                    </header>
                    <main class="max-width">
                        <p class="tweeted-text break-long-words hover-blur">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </main>
                    <footer class="menu-item-footer">
                        <ul class="icons">
                            <li><a href=""><i class="fas fa-minus"></i></a></li>
                            <li><input type="number" required minlength=".5" maxlength="1" placeholder="00"></li>
                            <li><a href=""><i class="fas fa-plus"></i></i></a></li>
                            <li><button>Add to order</button>
                            </li>
                        </ul>
                    </footer>
                </section>
                <section class="menu-items">
                    <header class="name-of-item">
                        <span class="name">Dahl</span>
                    </header>
                    <main class="max-width">
                        <p class="tweeted-text break-long-words hover-blur">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </main>
                    <footer class="menu-item-footer">
                        <ul class="icons">
                            <li><a href=""><i class="fas fa-minus"></i></a></li>
                            <li><input type="number" required minlength=".5" maxlength="1" placeholder="00"></li>
                            <li><a href=""><i class="fas fa-plus"></i></i></a></li>
                            <li><button>Add to order</button>
                            </li>
                        </ul>
                    </footer>
                </section>
            </article>
        </main>

        <div class="empty-space-two"></div>
        <div class="order-summary sticky">

            <span class="your-order-summary"> Your Order </span>

            <div class="item1">
                <span class="quantity1"> 1 </span>
                <span class="order1"> Paneer Korma </span>
                <span class="price1"> $10.99</span>
            </div>

            <div class="item1">
                <span class="quantity2"> 2x </span>
                <span class="order2"> Roti </span>
                <span class="price2"> $6.99</span>
            </div>
            <div>
                <span class="subtotal"> Food & Beverage Subtotal </span>
                <span class="tax"> GST </span>
                <span class="total"> Total </span>
                <span class="total-amt"> Total </span>
                <span class="place-order"> PLACE ORDER </span>
                <!-- <li> Item 1 </li> -->
            </div>
        </div>
    </div>
    <footer class="bg-color footer">
        <!-- <div class="footer"> -->
        <ul class="social">
            <small>Copyright &copy; 2020. All Rights Reserved.</small>
            <li>
                <i class="social-link fa fa-envelope" href="mailto:devachievem@gmail.com"></i>
            </li>
            <li>
                <i class="social-link fas fa-phone" href="tel:12368388913"></i>
            </li>
            <li>
                <i class="social-link fab fa-linkedin-in" href="https://www.linkedin.com/in/mathius-johnson/" target="_blank"></i>
            </li>
            <li>
                <i class="social-link fab fa-instagram" href="https://www.instagram.com/yogimathius/" target="_blank"></i>
            </li>
            <li>
                <i class="social-link mid-screen fab fa-twitter" href="https://twitter.com/yogimathius" target="_blank"></i>
            </li>
        </ul>
        <!-- </div> -->
    </footer>
</body>

</html>
