<!DOCTYPE html>
<html lang="en">

<!-- M-->

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script src="https://kit.fontawesome.com/fb7b9df17a.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/client.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>


<body>
  <!-- Main header -->
  <nav>
    <header class="bg-color flex">
      <h1>Punjabi Tadka</h1>
      <button id="nav-button">See Orders</button>
    </header>
    <div class="empty-space"></div>
  </nav>

  <!-- Hero Image -->
  <!-- <div class="hero-image">
    <div class="hero-text">
      <button type="button" class="see-menu"> See our menu!</button>
    </div>
  </div> -->

  <!-- Three column layout -->
  <div id="order-container">

    <!-- Empty Space -->

    <!-- Menu items container -->
    <main>
      <section id="ordered-items-container">

      </section>
    </main>

    <!-- Empty Space -->

    <!-- Order Cart -->
  </div>
  <footer class="bg-color footer">
    <small>Copyright &copy; 2020. All Rights Reserved.</small>

  </footer>
</body>

</html>
