.admin-container {
  font-size: 2em;
  text-align: center;
  padding: 15px;
}

#customers-order {
  padding: 15px;
}

#order-ready {
  background-color: blue;
  color: white;
  border-radius: 30px;
  padding: 10px 20px;
  border: none;
}

#orders-container {
  font-size: 2em;
  text-align: center;
}

#select-order {
  background-color: blue;
  color: white;
  border-radius: 30px;
  padding: 10px 20px;
  border: none;
}
