.menu-items-container {
  margin-right: 0 auto;
  width: 60%;
}

article section {
  margin: 0 auto;
}

.menu-items {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-right: 30px;
}
