.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    height: 11vh;
    display: flex;
    justify-content: center;
}

.footer .name {
    padding-right: .2em;
    font-size: 1em;
}

.social {
    font-size: 2em;
    // opacity: 0.7;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
    align-items: center;
}

a:hover+p {
    display: block;
    color: white;
}

.social-footer {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    // line-height: 100px;
    border-radius: 50%;
    padding: 7px;
}

@media(min-width:768px) {
    .icons {
        li {
            display: flex;
            text-align: center;
            transition: .5s;
            filter: blur(.5px);
            padding: 5px;
        }
        li:before {
            content: '';
            width: 100%;
            height: 100%;
            // border-radius: 50%;
            background: #4D9078;
            transition: .5s;
            transform: scale(.9);
            z-index: -1;
            display: none;
        }
        li:hover:before {
            transform: scale(1.4);
            color: #4D9078;
        }
    }
}
