.bg-color {
    width: 100%;
    background-color: $primary;
}

nav header {
    height: 15vh;
    justify-content: space-between;
    position: fixed;
    z-index: 9999;
}

.empty-space {
    height: 15vh;
    display: block;
}

.flex {
    display: flex;
}

nav header a {
  text-decoration: none;
}
nav header h1 {
    font-size: 4em;
    color: white;
    width: 12em;
    text-align: right;
    justify-content: center;
    align-items: center;
    display: flex;
}

nav header button {
    background-color: #E4572E;
    font-size: 2em;
    border: none;
    color: white;
    margin-right: 1em;
}
