.bg-color {
    width: 100%;
    background-color: $primary;
}

#nav-button {
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 10px;
    margin-left: 10px;
    margin-bottom: 70px;
}

#nav-button:hover {
    color: white;
    background-color: #a2310f;
    transition-duration: 1s;
    // color: $primary;
    transition-duration: 1s;
}

nav header {
    height: 15vh;
    justify-content: space-between;
    position: fixed;
    z-index: 9999;
}

.empty-space {
    height: 15vh;
    display: block;
}

.flex {
    display: flex;
}

nav header a {
  text-decoration: none;
}

nav header button {
  background-color: #E4572E;
  font-size: 2em;
  border: none;
  color: white;
  margin-right: 1em;
}

nav header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  width: 12em;
  color: white;
  margin-right: -0.95em;
  text-align: right;
}

nav #nav-button {
  cursor: pointer;
  border: transparent;
  background-color: $primary;
  color: white;
  font-size: 1.5em;
  margin-right: 1em;
}
