$primary: #E4572E;
@import 'header',
'footer',
'menu-items-container',
'order-cart',
'hero-image',
'admin.scss',
'sidenav';
body {
    margin: 0;
    height: 100%;
    background-color: #EEE;
    font-size: 100%;
}

.container-three {
    padding: 2.5em;
}

.sticky {
    position: fixed;
    z-index: 9999;
}

button {
    cursor: pointer;
}

main {
    display: flex;
}
