$primary: #E4572E;
@import 'header',
'sidenav',
'footer',
'menu-items-container',
'order-cart',
'hero-image';
body {
    margin: 0;
    height: 100%;
    background-color: #EEE;
    font-size: 24px;
}

.grandpa .container-three {
  margin-right: 3em;
}

.sticky {
    position: fixed;
    z-index: 9999;
}
