#sidenav {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.buttons {
    // border: 2px solid white;
    margin-left: 20px;
    // width: 100%;
    // height: 300px;
    text-decoration: none;
    border-radius: 20px;
    background-color: #E4572E;
}

.button {
    display: inline-block;
    // width: 50px;
    // height: 100px;
    vertical-align: middle;
    margin-top: 10px;
    margin: 12px;
    border: #E4572E;
    transition-duration: 1s;
    text-decoration: none;
    background-color: #E4572E;
    font-size: 1.2em;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.button:hover {
    background-color: white;
    text-align: center;
    color: #F96E46;
}